<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/bootstrap-grid.css">
    <link rel="stylesheet" href="stylesheets/bootstrap-reboot.css">
    <link rel='stylesheet' href="stylesheets/style.css">
    <link rel='stylesheet' href="stylesheets/main.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">


    <title><%= lang.title %></title>

</head>
<body>

<!--Navbar -->
<%- include('admin_nav', {lang:lang, colors:colors}) %>
<!--/.Navbar -->

<hr/>


<div class="row">
    <div class="col-sm-6">

        <div class="container" id="landing-page">
            <h1 style="color: #179c74;"><%= lang.adminContent.training_list %></h1>
            <hr id="divide">

            <% for (let i = 0; i < trainings.length; ++i) {%>
                <%const tr = trainings[i]%>
                <%const translated = tr[lang.localeName]%>
            <div class="blog-card">

                <div class="meta">
                    <div class="photo"></div>
                    <ul class="details">
                        <li class="author"><a href="#"><%=tr.author%></a></li>
                        <li class="date"><%=tr.date.toLocaleDateString()%></li>
                    </ul>
                </div>
                <div class="description">
                    <form method="post" action="trainingsList/delete/<%=lang.localeName%>/<%= tr._id %>" onsubmit="return confirm('<%=lang.deleteModal.text%>');">
                    <button type="submit" class="close"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </form>
                    <h1><%=translated.title%></h1>
                    <h2><%=translated.subtitle%></h2>
                    <p> <%=translated.smallText%></p>
                    <p> <%=translated.bigText%></p>

                </div>
            </div>
        <%}%>

        </div>

    </div>
    <div class="col-sm-6" style="padding-right: 3%">
        <div class="container" id="landing-page">
            <h1 style="color: #179c74;"><%= lang.adminContent.applications_list %></h1>
            <hr id="divide">
            <% for(let i = 0; i < requests.length; i++){ %>
                <% const req = requests[i] %>
                <div class="card">
                    <div class="card-header">
                        <form method="post" action="requests/delete/<%=lang.localeName%>/<%= req._id %>" onsubmit="return confirm('<%=lang.deleteModal.text%>');">
                        <button type="submit" class="close"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </form>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><%= lang.applicationCard.name_surname %> <%= req.name %></h5>
                        <p class="card-text"><%= lang.applicationCard.phone %> <%= req.phone %></p>
                        <p class="card-text"><%= lang.applicationCard.email %> <%= req.email %></p>
                        <p class="card-text"><%= lang.applicationCard.text %> <%= req.message %></p>

                    </div>
                    <div class="card-footer" style="color: #179c74;">
                        <%= lang.applicationCard.status %> <%= req.confirmed ? lang.applicationCard.confirmed : lang.applicationCard.unconfirmed %>

                    </div>
                </div>
            <% } %>

        </div>
    </div>
</div>

<footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #20c997">
        © 2021 Copyright:
        <a class="text-dark" href="/"><%= lang.title%></a>
    </div>
    <!-- Copyright -->
</footer>

<script src="bootstrap/jquery-3.5.1.min.js"></script>
<script src="bootstrap/popper.min.js"></script>

<script src="bootstrap/bootstrap.bundle.js"></script>
<script src="bootstrap/bootstrap.bundle.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>-->

<script src="javascripts/main.js"></script>

</body>
</html>
