<!--Navbar -->
<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-faded" style="background-color: <%=colors.menuColor%>;">
    <a class="navbar-brand" href="#">
        <img src="images/giphy.gif" width="26" height="26" class="d-inline-block align-top" alt="">
        <%= lang.title %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav" >
            <% menuTabs.forEach(item => { %>
                <li class="nav-item <%= active_page === item.key ? 'active' : '' %>">
                    <a class="nav-link"
                       href="<%=`${item.url}?lang=${lang.localeName}` %>"
                    >
                        <%= lang.menuNav[item.key] %>
                    </a>
                </li>
            <% }) %>
            <li class="nav-item <%= lang.localeName === "en" ? 'active' : '' %>">
                <a class="nav-link" href="<%= page %>?lang=en"><span class="flag-icon flag-icon-gb"> </span> EN</a></li>
            <li class="nav-item <%= lang.localeName === "ua" ? 'active' : '' %>">
                <a class="nav-link" href="<%= page %>?lang=ua"><span class="flag-icon flag-icon-ua"> </span> UA</a>
            </li>



        </ul>
    </div>
</nav>
<!--/.Navbar -->